<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cnStr" connectionString="Server = NHAT\SQLEXPRESS; Database = QLPhongTro; Integrated Security = true;" />
    <add name="MotelRoomManagement.Properties.Settings.QLPhongTroConnectionString"
      connectionString="Data Source= NHAT\SQLEXPRESS;Initial Catalog=QLPhongTro;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>